.four{
    position: absolute;
    width: 7.5%;
    height: 20.5%;
    left: 39%;
    top: 25%;
    background: #5A5A5A;
  }

  .bol4{
    position: absolute;
    width: 7.5%;
    height: 7.5%;
    left: 39%;
    top: 21.5%;
    border-radius: 50%;
    background: #5A5A5A;
  }

  .tri{
    position: absolute;
    width: 10%;
    height: 27%;
    left: 45%;
    top: 18.5%;
    background: #686868;
  }

  .bol3{
    position: absolute;
    width: 10%;
    height: 10%;
    left: 45%;
    top: 13.5%;
    border-radius: 50%;
    background: #686868;
  }

  .dva{
    position: absolute;
    width: 7.5%;
    height: 20.5%;
    left: 53%;
    top: 25%;
    background: #8B8B8B;
  }

  .bol2{
    position: absolute;
    width: 7.5%;
    height: 7.5%;
    left: 53%;
    top: 21.5%;
    border-radius: 50%;
    background: #8B8B8B;
  }

  .odin{
    position: absolute;
    width: 5.5%;
    height: 14.5%;
    left: 42.5%;
    top: 31%;
    background: #D9D9D9;
  }

  .bol1{
    position: absolute;
    width: 5.5%;
    height: 5.5%;
    left: 42.5%;
    top: 28.5%;
    border-radius: 50%;
    background: #D9D9D9;
  }

  .top{
    position: absolute;
    width: 43%;
    height: 5.5%;
    left: 28.5%;
    top: 45.5%;
    background: #527be3;
  }

  

  .cap{
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: absolute;
    width: 32%;
    height: 32%;
    left: 34%;
    top: 48%;
    background: #527be3;
  }

  .foot{
    position: absolute;
    width: 26%;
    height: 5.5%;
    left: 37%;
    top: 77%;
    background: #527be3;
  }

  .darc{
    position: absolute;
    width: 32%;
    height: 5.5%;
    left: 34%;
    top: 51%;
    background: #0D3BAE;
  }

  
  