.me {
  display: grid;
  grid-template-columns: 1fr 13fr;
  gap: 5vw;
  margin: 1vh 1vw;
}

.name {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: calc(12px + 12 * (100vw / 1445));
  color: black;
  line-height: 50px;
}

.photo {
  height: 300px;
  width: auto;
  background-image: url("../img/photo.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.bio {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: calc(12px + 8 * (100vw / 1445));
  color: black;
  margin: 1vh 1vw;
  margin-top: 4vh;
  column-count: 1;
}
