.picture {
  width: 200px;
  height: 200px;
  border: 1px solid #000000;
  border-radius: 5%;
  margin: auto;
  position: relative;
  background: white;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.tail-1 {
  position: absolute;
  width: 28.19px;
  height: 29.82px;
  left: 135px;
  top: 41px;
  border-radius: 50%;
  background: #8f6346;
}

.tail-2 {
  position: absolute;
  width: 28px;
  height: 32px;
  left: 124.19px;
  top: 34.82px;
  border-radius: 50%;
  background: white;
}

.head {
  position: absolute;
  width: 32px;
  height: 54px;
  left: 65px;
  top: 15px;
  border-radius: 50%;
  background: #a67f54;
}

.body {
  position: absolute;
  width: 73px;
  height: 37px;
  left: 76px;
  top: 55px;
  border-radius: 50%;
  background: #8f6346;
}

.fase {
  position: absolute;
  width: 40.21px;
  height: 25.93px;
  left: 38px;
  top: 30.26px;
  background: radial-gradient(
    62.05% 139.38% at 81.44% 15.65%,
    #efd3b6 0%,
    #ac8b68 100%
  );
  border-radius: 6px;
  transform: rotate(-7.51deg);
}

.ear {
  position: absolute;
  width: 27px;
  height: 48px;
  left: 74px;
  top: 22px;
  border-radius: 50%;
  background: radial-gradient(
    68.89% 73.96% at 48.15% 30.21%,
    #f5efe3 0%,
    #ad8967 100%
  );
}

.eye {
  position: absolute;
  width: 9px;
  height: 9px;
  left: 67px;
  top: 22px;
  border-radius: 50%;
  background: #3a3120;
}

.nose {
  position: absolute;
  width: 11px;
  height: 11px;
  left: 34px;
  top: 26px;
  border-radius: 50%;
  background: #6c523b;
}

.paw-1 {
  position: absolute;
  width: 14.32px;
  height: 36.58px;
  left: 87.14px;
  top: 83px;
  background: radial-gradient(
    69.84% 45.12% at 57.65% 56.58%,
    #d6bb9d 0%,
    #8d6446 100%
  );
  border-radius: 0px 0px 9px 9px;
  transform: rotate(6.49deg);
}

.paw-2 {
  position: absolute;
  width: 14.32px;
  height: 36.58px;
  left: 118px;
  top: 85.58px;
  background: radial-gradient(
    69.84% 45.12% at 57.65% 56.58%,
    #d6bb9d 0%,
    #8d6446 100%
  );
  border-radius: 0px 0px 9px 9px;
  transform: rotate(-14.48deg);
}

.foot-1 {
  position: absolute;
  width: 24px;
  height: 19px;
  left: 76px;
  top: 117px;
  border-radius: 50% 50% 0 0;
  background: radial-gradient(
    56.25% 44.14% at 25% 26.32%,
    #d2c0ac 0%,
    #846954 100%
  );
}

.foot-2 {
  position: absolute;
  width: 24px;
  height: 19px;
  left: 118px;
  top: 117px;
  border-radius: 50% 50% 0 0;
  background: radial-gradient(
    56.25% 44.14% at 25% 26.32%,
    #d2c0ac 0%,
    #846954 100%
  );
}

.box {
  position: absolute;
  width: 75px;
  height: 50px;
  left: 73px;
  top: 126px;

  background: #f07e25;
  border-radius: 4px;
}

.line-1,
.line-2,
.line-3 {
  position: absolute;
  width: 46px;
  height: 3px;
  left: 88px;
  background: #994602;
  border-radius: 3px;
}

.line-1 {
  top: 137px;
}
.line-2 {
  top: 146px;
}
.line-3 {
  top: 155px;
}

.triangle-1,
.triangle-2,
.triangle-3 {
  position: absolute;
  top: 160px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 12px solid #994602;
  /*background: #994602;*/
}

.triangle-1 {
  left: 88px;
}
.triangle-2 {
  left: 104px;
}
.triangle-3 {
  left: 120px;
}

.foot-box {
  position: absolute;
  width: 81px;
  height: 9px;
  left: 70px;
  top: 176px;
  background: #cf6c1f;
  border-radius: 4px;
}
